*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0,242,77);
    background: radial-gradient(circle, rgba(0,242,77,1) 0%, rgba(92,214,120,1) 100%);
}
h2{
    color: rgb(42, 88, 33);
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
span{
    color: black;
}

canvas{
    border: solid 5px rgb(28, 110, 39);
    border-radius: 10px;
}