*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
}

h2{
    color: rgb(45, 121, 32);
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}
span{
    color: black;
}

canvas{
    border: solid 8px rgb(28, 110, 39);
    border-radius: 10px;
}